button {
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    font: normal 21px 'Nunito', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding-left: 35px;
    text-align: left;
    border-radius: 5px;

    transition: padding ease-in-out 0.5s;
}

    button:hover {
        padding-left: 15px;
    }
