<div class="container" @onclick="RedirectToProject">
    <CardStatusHeader CardStatus="ProjectStatus"/>
    <h1>@(ProjectName)</h1>
    <div class="tagContainer">
        @foreach(string tag in ProjectTags){
            <div class="tag" style="color:@(FetchTagColor(tag)); border: 2px solid @(FetchTagColor(tag))">@tag</div>
        }
    </div>
</div>