@page "/Icarus_Protocol"

<PageTitle>Icarus Protocol</PageTitle>

<div class="fixedContainer">
    <HomeButton />

    <h1>Icarus Protocol</h1>

    <div class="statusBanner inprogress">
        <h3>Status: In Progress</h3>
        <h3>Github: <a href="https://github.com/WSUCptSCapstone-Fall2022Spring2023/psd-gamifiedapp" target="_blank">https://github.com/WSUCptSCapstone-Fall2022Spring2023/psd-gamifiedapp</a></h3>
    </div>

    <h2>Description</h2>

    <p>
        The Icarus protocol is my senior design project, being worked on by my fiance and I based on a custom project proposal.
        In it we aim to create a game that teaches programming to students in middle school or early high school with no prior programming experience.
    </p>

    <h2>Demonstrated Skills</h2>

    <h3>C#</h3>
    <h3>Python</h3>
    <h3>Unity</h3>
    <h3>Documentation</h3>
</div>
<div class="mainContainer">
    <img src="img/Icarus_Protocol_Banner.png"/>
    <h2>Project Goals</h2>

    <p>
        The goal of any senior design project at Washington State University is to work with a team to undertake a long term, large scale endeavor. 
        This project is required to build to a specific clients requirements, and although my partner and I suggested this idea ourselves, we are working with our local middle school to make it reality in the classroom.
        From a game design perspective, the goal is to produce a fun and engaging game that teaches real actionable python programming skills to those with no prior experience.
        It does this through the context of the player taking on the role of an AI that is woken up on a starship after an unknown incident. 
        The AI has to repair the software of the starship to get it back on track, and discover what happened to the ship in the first place.
    </p>

    <h2>Current State</h2>

    <p>
        We have just begun programming on the project, however a we've produced a number of fully detailed preliminary <a href="https://github.com/WSUCptSCapstone-Fall2022Spring2023/psd-gamifiedapp/tree/main/Documentation" target="_blank">design documents.</a>
    </p>
</div>
