@page "/"

<PageTitle>Collin's Portfolio</PageTitle>

<div class="fixedContainer">
    <h1>Collin Nelson</h1>

    <p>I'm a junior of Computer Science at Washington State University, a member of the WSU honors college, and passionate student of games programming and game development.</p>

    <p>I have over 4 years of software industry experience programming for Schweitzer engineering laboratories, and am currently seeking opportunities for a long term career in the games industry.</p>

    <p>Click on any of the cards on the right to browse my side projects. Or contact me with any of the links below.</p>

    <p>You can also click here to view my downloadable PDF resume.</p>

    <h2>Contact Links</h2>

    <h3><b>Email:</b> collinnelson509@gmail.com</h3>
    <h3><b>Phone:</b> +1 (509) 339 3505</h3>
    <h3><b>Linkedin:</b> www.linkedin.com/in/collin-nelson-8b575a161</h3>
</div>
<div class="mainContainer">
    <ProjectCard/>
    <ProjectCard/>
    <ProjectCard/>
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
</div>
