@page "/"

<PageTitle>Collin's Portfolio</PageTitle>

<div class="fixedContainer">
    <h1>Collin Nelson</h1>

    <p>I'm a junior of Computer Science at Washington State University, a member of the WSU honors college, and passionate student of games programming and game development.</p>

    <p>I have over 4 years of software industry experience programming for Schweitzer engineering laboratories, and am currently seeking opportunities for a long term career in the games industry.</p>

    <p>Click on any of the cards on the right to browse my side projects. Or contact me with any of the links below.</p>

    <p>You can also click <a href="img/Basic Resume.pdf" target="_blank">here</a> to view my downloadable PDF resume.</p>

    <h2>Contact Links</h2>

    <h3><b>Email:</b> <a href="mailto: collinnelson509@gmail.com">collinnelson509@gmail.com</a></h3>
    <h3><b>Phone:</b> <a href="tel:+15093393505">+1 (509) 339 3505</a></h3>
    <h3><b>Linkedin:</b> <a href="https://www.linkedin.com/in/collin-nelson-8b575a161" target="_blank">www.linkedin.com/in/collin-nelson-8b575a161</a></h3>
</div>
<div class="mainContainer">
    <ProjectCard ProjectStatus="ProjectStatus.ACTIVE" ProjectName="Artifission" ProjectTags='new List<string>(){"C#", "Unity", "Design", "Free-Time", "Major"}'/>
    <ProjectCard ProjectStatus="ProjectStatus.COMPLETE" ProjectName="Noctus Engine" ProjectTags='new List<string>(){"C#", "Lua", "Free-Time", "Minor"}' />
    <ProjectCard ProjectStatus="ProjectStatus.COMPLETE" ProjectName="Poly_Type" ProjectTags='new List<string>(){"Python", "HTML/CSS", "Team", "Major", "Classwork"}' />
    <ProjectCard ProjectStatus="ProjectStatus.COMPLETE" ProjectName="Terraria Analyzer" ProjectTags='new List<string>(){"C#", "Minor", "Classwork"}'/>
    <ProjectCard ProjectStatus="ProjectStatus.COMPLETE" ProjectName="Linux Shell Emulation" ProjectTags='new List<string>(){"C++", "Linux", "Major", "Team", "Classwork"}' />
    <ProjectCard ProjectStatus="ProjectStatus.IN_PROGRESS" ProjectName="Machina" ProjectTags='new List<string>(){"C++", "Unreal", "Major", "Free-Time"}' />
    <ProjectCard ProjectStatus="ProjectStatus.ACTIVE" ProjectName="Portfolio Site" ProjectTags='new List<string>(){"C#", "Blazor", "HTML/CSS", "Free-Time"}' />
    <ProjectCard ProjectStatus="ProjectStatus.COMPLETE" ProjectName="Men Among Gods" ProjectTags='new List<string>(){"TTRPG", "Design", "Free-Time"}' />
    <ProjectCard ProjectStatus="ProjectStatus.IN_PROGRESS" ProjectName="Icarus Protocol" ProjectTags='new List<string>(){"C#", "Python", "Unity", "Major", "Team", "Classwork"}' />
</div>
