@page "/Machina"

<PageTitle>Machina</PageTitle>

<div class="fixedContainer">
    <HomeButton />

    <h1>Machina</h1>

    <div class="statusBanner inprogress">
        <h3>Status: In Progress</h3>
        <h3>Github: <a href="https://github.com/Nelsocol/Machina" target="_blank">https://github.com/Nelsocol/Machina</a></h3>
    </div>

    <h2>Description</h2>

    <p>
        Machina is a fan recreation of the level 0-Training from the original Deus Ex by Ion Storm.
        The goal is to learn Unreal Engine 5 by reproducing every aspect of this tutorial mission from the ground up in Unreal Engine and C++
    </p>

    <h2>Demonstrated Skills</h2>

    <h3>C++</h3>
    <h3>Unreal Engine</h3>
</div>
<div class="mainContainer">
    <img src="./img/Machina_Banner.png"/>
    <h2>Project Goals</h2>

    <p>
        The project aims to fully reconstruct the level 0-Training from Deus Ex (2000). 
        I intend to recreate all aspects of level, including environment, mechanics, enemies, and UI. 
        I am also intentionally forgoing the use of code, meshes, or data from the original game except for as reference, to increase the opportunities for learning and extending my skills.
    </p>

    <h2>Current State</h2>

    <p>
        Currently Machina is in phase 1.2 of the phases described below. This means I am detailing and polishing the game environment for the first loading zone of the level. 
        While this is still early in the overall development of the project, significant work has been done already to accomplish this, and the base version of the level geometry of the entire first loading zone is completely finished.
    </p>

    <h2>Learning Opportunities</h2>

    <p>
        Part of what makes this project exciting to me is all of the opportunities for learning in this work. 
        Not only is this the first major side project that I've worked on in Unreal Engine, but also the first time I've done a side project in a full 3D workflow.
        This means a lot of opportunities to learn about 3D game development processes, tools, and best practices.
        Already I've had to research methods of evironment creation, optimization and shader development, and the prospect of animated human NPCs and modernized gunplay will almost certainly be challenging to do for the first time.
    </p>

    <h2>Modernization</h2>

    <p>
        In working on this project, I aim to strike a very specific blend of faithful recreation and modernization. 
        I intend for the mechanics, environments, and design to be nearly identical, but in an effort to learn more about the modern features of Unreal Engine 5's renderer, I intend to use higher resolution materials, and modern lighting systems to modernize the look of the game.
        There are also a select few mechanics that I've chosen out for significant modification. 
        The most notable of these is the gunplay, which is fairly rudimentary in the original game. 
        My intention is to replace this system with a modern set of tactical FPS gunplay mechanics that stay true to the orignal game's design ethos while making it feel more fluid and reactive as an FPS.
    </p>

    <h2>Process</h2>

    <p>
        Because the holistic recreation of even a small section of a game with such a broad band of mechanics is a large undertaking, I wanted to produce a clear process for the phases of creation of the project.
        The following describes the phases and subphases of development.
    </p>

    <ol>
        <li>Environment
            <ol>
                <li>Environment Prototyping</li>
                <li>Environment Detailing</li>
            </ol>
        </li>
        <li>Objects
            <ol>
                <li>Static Decorations</li>
                <li>Simple Interactable</li>
                <li>Complex Interactables & Mechanics</li>
            </ol>
        </li>
        <li>Entities
            <ol>
                <li>Nonhuman Entities</li>
                <li>Passive Human NPCs</li>
                <li>Human Enemies</li>
            </ol>
        </li>
        <li>Sounds
            <ol>
                <li>Sound Effects & Music</li>
                <li>Voice Acting</li>
            </ol>
        </li>
        <li>UI & Additional Mechanics
            <ol>
                <li>Diegetic UI</li>
                <li>Passive UI</li>
                <li>Active UI</li>
                <li>Minor Systems (Cutscenes, Save & Load, etc.)</li>
            </ol>
        </li>
    </ol>

    <p>
        While this process is still subject to change, it fairly clearly outlines my intentions in developing the project. 
        This is my most recently started project by far, and thusfar I have only completed phase 1.1, but progress is proceeding steadily.
    </p>
</div>
