@page "/Men_Among_Gods"

<PageTitle>Men Among Gods</PageTitle>

<div class="fixedContainer">
    <HomeButton />

    <h1>Men Among Gods</h1>

    <div class="statusBanner complete">
        <h3>Status: Complete</h3>
        <h3>View PDF <a href="/img/Men_Among_Gods.pdf" target="_blank">Here</a></h3>
    </div>

    <h2>Description</h2>

    <p>
        This large document began as a series of homebrew rules for running my tabletop D&D games.
        These homebrew rules eventually began to push the limits of what the core D&D systems could do, so I instead decided to begin from scratch and construct my own TTRPG.
        The result is Men Among Gods.
    </p>

    <h2>Demonstrated Skills</h2>

    <h3>Writing</h3>
    <h3>Documentation</h3>
    <h3>Game Design</h3>
    <h3>Playtesting</h3>
</div>
<div class="mainContainer">
    <h2>Project Goals</h2>

    <p>
        The goal of project was to construct a brand new TTRPG based off of my many ideas for variant TTRPG systems.
        While a few of the systems bear a surface level resemblance to Dungeons and Dragons, the result is actually a very distinct system that functions very differently.
        The main goal was to create a system that suits my style of game, which somewhat limits the power of players, and makes them feel more mortal. 
        Men Among Gods (MAG) requires additional teamwork, and features a distinct class system that pushes players to rely on each other and play to their character's strengths.
    </p>

    <h2>Project Outcomes</h2>

    <p>
        The current version of the MAG rulebook is a 72 page PDF document, viewable through the link on this page.
        The document was constructed in the Latex markup language, and it covers all of the basic rules, class abilites for 4 base classes, 8 prestige classes, and a large number of spells for each class which receives magic.
    </p>

    <h2>Major Design Goals</h2>

    <h4>Distinct Classes</h4>

    <p>
        When designing the classes for MAG, I wanted to take great care to use very strong class based game design. 
        To meet my internal standards, each class not only had to fulfill a unique fantasy for the players, they also had to be built around a single very strong core mechanic that required the application of a distinct set of key skills.
        For instance, almost every ability of the Brute class revolves around their rage mechanic, which forces the key skill of resource management.
        In contrast, the core mechanic of the Guardian class is a mechanic called stances, which demands strong positioning and team leadership.
        The hope is that these strong distinctions between classes will make each one a more unique play experience.
    </p>

    <h4>Prestige Classes</h4>

    <p>
        Instead of defining a great number of base classes, MAG revolves around the idea that you select one of 4 base classes which use entirely physical abilities.
        About one fourth of the way through the level progression, however, the player adopts a second class, known as a prestige class, which they may select from one physical prestige class based on their base class, or from four magical prestige classes, which add spellcraft on top of their base abilites.
        Each prestige class fulfills the same rigorous standards of quality as the base classes, to the extent that even the four spellcasting classes have entirely unique spell lists, and a different fundamental ethos of magic functioning within the single unified magic system.
    </p>

    <h4>Active Defense and Death</h4>

    <p>
        While MAG aimed to increase the general mortality of players, it also aimed to make defense a more active process, and to give players more freedom to fight against their fates.
        In the pursuit of this, defense was split into two stats. DODGE defines your ability to dodge attacks and ABSORB your ability to take in damage. 
        This system works in parity with the attack system, in which DEX weapons have an easier time hitting and STR weapons deal more damage. 
        This prompts players to consider which type of defense is more useful under certain circumstances, and makes the process of defense a more active one.
        In addition, the death system of MAG aims to empower players. Instead of falling unconscious when a player reaches 0 hit points, their hp enters the negative, and they are in mortal danger, but are still able to act to save themselves.
    </p>

    <h4>The Mystery of Magic</h4>

    <p>
        One major design goal when designing magic for MAG was to bring back the mysterious power of magic, instead of players seeing it as a common tool. 
        The first step to this end was to only allow magic in the prestige classes, later into the progression curve.
        The second step was to intentionally loosen the specifics of the rules around individual spells, leaving more up to GM interpretation.
        This hopefully deconstructs the legalistic view many players have regarding spellcraft, making it feel more fluid and powerful, but also less mechanical.
    </p>

    <h2>Playtests</h2>

    <p>
        While the ruleset of MAG is complete I am still in the process of playtesting the system in person. 
        My current tests have revealed a number of small balancing adjustments in the class abilities, but overall show the system is functional and fun.
        The system has at least proven functional enough that I have been able to transition to playing and testing the system exclusively during my weekly D&D sessions.
        Once I finish creating adjusted and polished skill trees I intend to post the system online for easier access and hopefully broader testing potential.
    </p>
</div>
