@page "/outlineProject"

<PageTitle>Outline Project</PageTitle>

<div class="fixedContainer">
    <HomeButton />

    <h1>Example Project</h1>

    <div class="statusBanner inprogress">
        <h3>Status: In Progress</h3>
        <h3>Github: <a href="https://github.com/Nelsocol/Artifission" target="_blank">https://github.com/Nelsocol/Artifission</a></h3>
    </div>

    <h2>Description</h2>
    
    <p>This example project was a large project built with a team of 4 over the course of 4 months.
        It involved heavy work with network code in Python and Javascript and C#. 
        The goal of the project was to do some stuff. Good stuff. Lots got done.
    </p>

    <h2>Demonstrated Skills</h2>

    <h3>Python</h3>
    <h3>Javascript</h3>
    <h3>Teamwork</h3>
    <h3>Agile Development</h3>
</div>
<div class="mainContainer">
    <h2>Project Goals</h2>

    <p>This project aimed to accomplish a bunch of things. It involved a bunch of work, and I did certain parts of it.
        When all was said and done we got a lot done. And there are a lot of features to highligh.
        Below you can view all sorts of interesting feature highlights and descriptions of how the system is designed.
    </p>

    <h2>Project Outcomes</h2>

    <p>
        We successfully completed the project on time for the due date.
        It fulfills all of the requirements and does all the things we said it would. Plus more!
        This is me just filling space to get the impression across.
    </p>

    <h2>Challenges</h2>

    <p>We faced some major challenges on this project. We had to figure out super complicated stuff that wasn't given and wan't easy.</p>

    <h2>Extensive Documentation</h2>

    <p>One of the larger class requirements for this project was that we produce complete and thorough documnentation for the entire project.
        This including creating UI sketches, requirements descriptions, UML database diagrams, and more.
    </p>
</div>
