@page "/Poly_Type"

<PageTitle>Poly_Type</PageTitle>

<div class="fixedContainer">
    <HomeButton />

    <h1>Poly_Type</h1>

    <div class="statusBanner complete">
        <h3>Status: Complete</h3>
        <h3>Github: <a href="https://github.com/WSU-CptS322-Fall2021/TermProject-BadTeam" target="_blank">https://github.com/WSU-CptS322-Fall2021/TermProject-BadTeam</a></h3>
    </div>

    <h2>Description</h2>

    <p>
        Poly_Type is a web-app built using an HTML/CSS front end and a Python back end. 
        It was built with a team of 4 over the course of several months. 
        The goal was to create a competitive typing trainer application that allows users to train their typing skills in friendly competition.
    </p>

    <h2>Major Skills</h2>

    <h3>Python</h3>
    <h3>HTML/CSS</h3>
    <h3>Team Leadership</h3>
    <h3>Documentation</h3>
</div>
<div class="mainContainer">
    <h2>Project Goals</h2>

    <p>
        Poly_Type was a student-proposed final project for a class primarily focused on software engineering processes.
        The goal was to create a stylish way to practice typing skills in friendly competition, which we described as a blend between the online competitive quiz platform <a href="https://kahoot.com/" target="_blank">Kahoot</a> and the sleek typing practice site <a href="https://monkeytype.com/" target="_blank">Monkeytype</a>.
        This project had to be developed with the Python Flask web framework, and had to make active use of a SQLite database. 
    </p>

    <h2>Project Outcomes</h2>

    <p>
        Our team finished the project on time successfully, including all primary and secondary features included in our design documentation. 
        While the project makes active use of a database, and has a fully functional HTML/CSS front end, actual deployment of the service to a real web-host was outside the scope of the class.
        As such the project can currently only be run locally.
        It allows the user to create custom typing tests, and test themselves against it, ranking their best times. 
    </p>

    <p>
        If our team could ever have the chance to return to the project our first priority would definitely be to find a way to properly deploy the front end to a web server, and the database to some kind of host. 
    </p>

    <h2>Challenges</h2>

    <p>
        This project had a few major challenges. The first was organizational. 
        The assignment required in depth documentation, diagrams, and planning to be produced for each phase of development, and required us to maintain an Agile workflow. 
        Ensuring good team communication, and maintaining the quality of our documentation while also making progress on the project itself was at times difficult.
    </p>
        
    <p>
        On the technical side, we were challenged to implement a database schema that not only allowed for authenticated accounts, but also for temporary accounts created when a participant joins a contest.
        We also had to create a fairly complex Javascript UI that allows for stylish realtime typing, recording keystrokes while keeping metrics on speed, accuracy, and completion percentage.
    </p>

    <h2>Project Documentation</h2>

    <p>
        One of the most notable points of this project is the amount of documentation that we produced for it. 
        <a href="https://github.com/WSU-CptS322-Fall2021/TermProject-BadTeam/tree/Iteration3/Documents">This folder</a> in the github repository contains markdown design documents, testing plans, and requirements specifications.
        These documents contain UI mockups, tables, and UML diagrams for almost every aspect of the project.
    </p>

    <h2>Minimalist UI</h2>

    <p>
        One of our design goals for the front end UI of the software was to create a sleek and modern UI that minimized unnecessary information on screen at all times as well as minimizing unneeded page redirects.
        In addition, when designing the UI I also abstracted the injection of color themes into CSS variables, allowing new color themes to be easily added to the project.
        You can rotate in real time between color schemes by clicking the name of the color theme at the top of the page.
    </p>

    <h2>My Responsibilities</h2>

    <p>
        I had two major roles in the team for this project.
        The first was the unofficial role of team manager. 
        I helped to coordinate meetings, and I drove many of the planning discussions and apportioned work between the group memebers.
        The formal role I took on was that of primary UI programmer, designing, prototyping, and implementing almost all of the HTML and CSS code that creates the look of website.
    </p>
</div>
